h1 {
	color: #FF5864;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;

}

h2, h3, h4 {
	color: #FF444D;
}

img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;

}
